/* -----------workshop頁面開始----------- */
.workshopSection{
    justify-content: center;
}
.col-lg-6{
    padding-bottom: 20px;
}
.workshopImage{
    display: flex;
    flex-direction: column;
}
/* ----左側工作坊主圖---- */
.workshopImage .mainImage{
    aspect-ratio: 4/3;
    overflow: hidden;
}

.workshopImage .mainImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ----右側工作坊資訊區塊---- */
.workshopRightSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 24px 0; */
}

.itemInfo{
    display: flex;
    flex-direction: column;
    color: var(--primary);
}
.itemInfo .itemTitle{
    font-size: var(--fz-3);
    font-weight: var(--fw-2);
    letter-spacing: 6px;
    /* margin-bottom: 10px; */
}
.itemInfo .workshopAttr{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    font-size: var(--fz-1);
    /* font-size:20px; */
    font-weight: var(--fw-0);
    line-height: 32px;
    letter-spacing: 2px;
    margin: 24px 0;

    span{
        color: var(--secondary);
        font-weight: var(--fw-2);
    }
}
/* Btn細節見button.css */
.btnSection{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;
}

/* ----下方表單區塊---- */
.registerSection{
    padding: 50px 30px;
    text-align: center;

    background-color: var(--white);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.registerSection h2{
    color: var(--primary);
    font-size: var(--fz-4);
    font-weight: var(--fw-3);
    letter-spacing: 8px;
    text-align: center;
    
    margin-bottom: 20px;
}

.registerSection .registerIntro{
    color: var(--primary);
    font-size: var(--fz-1);
    font-weight: var(--fw-0);
    line-height: 30px;
    letter-spacing: 1.5px;

    margin-bottom: 32px;
}

.registerSection .workshopForm{
    text-align: left;
}

.registerSection .workshopFormInput{
    margin-bottom: 32px;
}

.registerSection .workshopForm{
    padding: 0px;
}

/* 表單樣式見form.css */
/* .registerSection .workshopFormInput label{
    display: block;
    text-align: left;

    color: var(--darkgray);
    font-size: var(--fz-1);
    font-weight: var(--fw-1);
    letter-spacing: 3.36px;
    margin-bottom: 8px;
} */

/* .workshopFormInput input[type="text"],
.workshopFormInput input[type="email"],
.workshopFormInput input[type="tel"],
.workshopFormInput input[type="number"],
.workshopFormInput textarea {
    width: 100%;
    padding: 16px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box; 
} */
/* 
.workshopFormInput textarea {
    resize: vertical; 
} */


/* 按鈕樣式見button.css */
/* .registerSection .registerBtn {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    color: var(--white);
    background-color: var(--primary);

    font-size: var(--fz-2);
    font-weight: var(--fw-3);
    letter-spacing: 3.36px;
}

.registerSection .registerBtn:hover{
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
    cursor: pointer;
} */

.workshopFormInput input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: auto;
}
.workshopFormInput input[type=number] {
    -moz-appearance: textfield;
}

@media screen and (min-width: 768px){
/* ----右側工作坊資訊區塊---- */
    .itemInfo .itemTitle{
        font-size: var(--fz-5);
        letter-spacing: 8px;
    }
    .itemInfo .workshopAttr{
        font-size: var(--fz-2);
        line-height: 32px;
        margin: 32px 0;
    }
    .registerSection{
        padding: 80px 68px;
    }
    .registerSection h2{
        font-size: var(--fz-3);
    }
    .registerSection .registerIntro{
        font-size: var(--fz-2);
        letter-spacing: 2px;
    }
}
